h1 {
    background-color: rgb(80, 108, 191);
}

h2 {
    background-color: rgb(194, 25, 88);
}

h3 {
    background-color: rgb(77, 163, 104);
}

h4 {
    background-color: rgb(237, 236, 245);
}

h5 {
    background-color: rgb(231, 204, 224);
}