.header {
    background-image: url("lord-howe.jpg");
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.photoframe {
    border: dashed 5px #7fa99b;
    padding: 30px;
    display: inline-block;
}

img {
    border: dot-dash 10px #9C2C2C;
    opacity: 70%;
}

p.caption {
    font-style: oblique;
}

.pic7 {
    display: none;
}