body {
    width: 300px;
    font-size: 0;
    text-align: center;
    color: white;
}

p {
    font-size: 18px;
    background-color: black;
    margin: 0;
}

div {
    padding-top: 350px;
    background-image: url('balloons.jpg');
    background-size: cover;
}

/* Add your styles below here */

.fa {
    font-size: 40px;
    width: 70px;
    padding: 10px;
    background-color: black;
    color: white;
}
