body {
    text-align: center;
}

div {
    width: 225px;
    display: inline-block;
    margin: 10px;
}

.featured {
    color: lightseagreen;
    border: 1px solid lightseagreen;
}

.soldout {
    color: lightgrey;
}